* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --brand: #6c9fff;
    --brand-2: #a88bff;
    --muted: #7c86a9;
    --bg: #F5F7FF;
}

body {
    height: 100vh;
    background-color: var(--bg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    width: 80%;
    margin: auto;

}

.header {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
}

.brand {
    display: flex;
    gap: 10px;
}

.logo {
    width: 40px;
    height: 40px;
    display: grid;
    place-items: center;
    border-radius: 12px;
    background: linear-gradient(135deg, var(--brand), var(--brand-2));
    box-shadow: 0 10px 30px rgba(0, 0, 0, .35);
    color: #FFF;
}

.meta {
    color: var(--muted);
    font-size: 14px;
}
#date{
    letter-spacing: 1px;
}

.input-wrapper {
    position: relative;
}

.input-wrapper input {
    padding: 25px;
    width: 100%;
    position: relative;
    border: none;
    outline: none;
    font-size: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2),
        0 0 20px rgba(0, 0, 0, 0.15);

}

.input-wrapper button {
    position: absolute;
    right: 10px;
    top: 15px;
    padding: 10px 20px;
    margin-right: 5px;
    background: linear-gradient(135deg, var(--brand), var(--brand-2));
    border: none;
    border-radius: 10px;
    color: #FFF;
    font-size: 18px;
    transition: 0.3s ease all;

}


.list-section {
    width: 100%;
    height: 300px;
    border-radius: 20px;
    background-color: #FFF;
    margin: 30px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2),
        0 0 20px rgba(0, 0, 0, 0.15);
    overflow-y: auto;
}

.list-section .list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 10px;
}

.list-section .icons {
    display: flex;
    gap: 10px;
}

.list-section .icons button {
    padding: 5px;
    background: linear-gradient(135deg, var(--brand), var(--brand-2));
    color: #FFF;
    border: none;
    border-radius: 2px;
    transition: 0.3s ease all;
}
button:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.headings {
    display: flex;
    justify-content: space-between;
    margin: 0px 10px;
}

.subheadings {
    display: flex;
    gap: 50px;
}

.leftItem {
    display: flex;
    align-items: center;
    gap: 20px;
}

.leftItem input {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.rightItem {
    display: flex;
    align-items: center;
    gap: 65px;
}

.rightItem .status {
    color: #f97316;
}

@media (max-width:525px) {
    .headings h2 {
        font-size: 18px;
    }

    .task h3 {
        font-size: 16px;
    }

    .status {
        font-size: 12px;
    }

    .list-section .icons button {
        padding: 0px;
    }

    .subheadings {
        gap: 30px;
    }

    .leftItem {
        gap: 10px;
    }

    .leftItem input {
        width: 13px;
        height: 13px;
    }
.rightItem {
        gap: 50px;
    }
    .input-wrapper button {
        padding: 7px 12px;
        font-size: 14px;
        top: 20px;
    }
}

@media (max-width:375px) {
    .subheadings {
        gap: 30px;
    }

    .headings {
        gap: 30px;
    }

    .leftItem input {
        width: 13px;
        height: 13px;
    }

    .rightItem {
        gap: 30px;
    }

}